@charset 'UTF-8';

@media screen and (min-width: 927px){
main{
    display: flex;
    justify-content: space-evenly;

}

.titulo{
    width: 50%;
    text-align: left;
    padding-left: 100px;
}
.formulario{
    width: 50%;
}

form{
    width: 80%;
}

.titulo h1{
    font-size: 3em;
    margin-bottom: 40px
}

.titulo p{
    font-size: 18px;
}

.preco{
    width: 80%;
 
}
}