@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{

--Red: hsl(0, 100%, 74%) ;
--Green: hsl(154, 59%, 51%);

--Blue: hsl(248, 32%, 49%);

--DarkBlue: hsl(249, 10%, 26%);
--GrayishBlue: hsl(246, 25%, 77%);


}
body{

    background-image: url(../images/bg-intro-desktop.png);
    background-color: var(--Red);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}

.titulo{
    text-align: center;
    color: white;
    padding: 0px 40px;
    margin: auto;
}

.titulo h1{
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);
}

main{
    margin: 5vh 0px;

}
main p{
    line-height: 25px;

}

.preco{
    padding: 20px 50px;
    width: 330px;
    
    margin: auto;
    text-align: center;
    background-color: var(--Blue);
    color: white;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.37);
    margin-bottom: 30px;
    margin-top: 50px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    width: 330px;
    
    display: flex;
    text-align: center;
    
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.452);
}

.label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-weight: 700;
    color: var(--DarkBlue);
}

.input{
    margin: auto;
    width: 100%;
    height: 50px;
    position: relative;
}

img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: none;

}

input{
    font-size: 16px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.438);
    font-weight: 700;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.13);
}
.primeiroNome input, .lastName input, .password input{
    padding-left: 105px;
}
.email input{
    padding-left: 135px;
}

.password input{
    padding-left: 100px;
}

input:focus{
    outline:1px solid var(--GrayishBlue);
}

.botao{
    width: 100%;
    padding: 20px 0px;
    font-weight: 700;
    background-color: var(--Green);
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;

    box-shadow: 0px 2px 0px rgba(0, 128, 0, 0.644);
}

.botao:hover{
    background-color: hsla(154, 59%, 51%, 0.753);
    transition: all .5s;
}

.termos{
    font-size: 14px;
    color: var(--GrayishBlue);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.123);
}

.termos strong{
    color: var(--Red);
}

.termos strong:hover{
    text-decoration: underline;
    cursor: pointer;
}
.msgError{
    font-size: 12px;
    line-height: 0px;
    margin-top: 10px;
    text-align:right;
    color: red;
    display: none;
}
